// Global default params, used in configs
workDir = "analysis"

params {

  // Boilerplate options
  help = false

  // cache option makes it a bit easier to set conda or singularity cacheDir
  cache = ''
}

includeConfig 'config/base.config'

profiles {
  slurm {
    process.executor = 'slurm'
    process.clusterOptions='--account=lomannj-covid-19-realtime-epidemiology --qos=lomannj --time 10000:0 --nodes 1'
  }
}

process {
    errorStrategy = { 'retry' }
    maxRetries = 5

    withLabel: retry_increasing_mem {
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        memory = {16.GB * task.attempt}
        maxRetries = 3
    }
}

