// Base parameters used throughout
params {

  date = false
  publish_dir = "publish"
  publish_dev = "publish_dev"
  category = "cog_global"
  webhook = false
  tree_builder = "fasttree" // could also be veryfasttree
  skip_usher = false
  downsample = false // include background samples if true
  cog_uk = false // discover uk_lineages, deltrans and phylotypes and annotate tree with them

  // combined files new each day
  fasta = "test/test.fa"
  metadata = "test/test.csv"
  variants = "test/test_variants.csv"
  unique_fasta = "test/test.unique.fa" // null so exists
  hashmap = "test/test.hashmap.csv" // null so exists
  protobuf = false // if provided, don't build split tree
  newick_tree = false // null so exists, can be provided to skip straight to usher update
  nexus_tree = "test/test_tree.nexus" // null so exists
  tree_dir = false // null so exists

  // resources files
  mask = "resources/mask.txt"
  lineage_splits = "resources/lineage_splits.csv"
  lineage_aliases = "resources/lineage_aliases.json"
  guide_tree = "resources/graft_guide.newick"
  reference_fasta = "resources/reference.fa"
  publish_recipes = "resources/publish_recipes.json"

  // parameter values set
  time_window = 100
  downsample_diff = 5
  max_parsimony_placements = 1
  collapse = 0.000005
  phylotype_threshold = 2E-5
  phylotype_collapse = 5E-6
  seed = 0
  chunk_size = 10000
}
