// Base parameters used throughout
params {

  date = false
  publish_dir = "publish"
  publish_dev = "publish_dev"
  category = "cog_global"
  webhook = false

  // combined files new each day
  fasta = "test/test.fa"
  metadata = "test/test.csv"
  variants = "test/test_variants.csv"
  protobuf = false // if provided, don't build split tree but update existing
  unique_fasta = "test/test.unique.fa" // null so exists
  hashmap = "test/test.hashmap.csv" // null so exists
  protobuf = "test/test.pb" // if provided, don't build split tree
  newick_tree = "test/test_tree.newick" // null so exists, can be provided to skip straight to usher update
  nexus_tree = "test/test_tree.nexus" // null so exists


  // resources files
  lineage_splits = "resources/lineage_splits.csv"
  lineage_aliases = "resources/lineage_aliases.json"
  guide_tree = "resources/graft_guide.newick"
  reference_fasta = "resources/MN908947.fa"
  publish_recipes = "resources/publish_recipes.json"

  // parameter values set
  time_window = 120
  downsample_diff = 3
  collapse = 0.000005
  phylotype_threshold = 2E-5
  phylotype_collapse = 5E-6
  microreact_seed = 0
}
