// Base parameters used throughout
params {

  date = false
  publish_dir = "publish"
  publish_dev = "publish_dev"
  category = "gisaid"
  webhook = false

  // new gisaid file each week
  gisaid_json = "test/test.json"
  gisaid_fasta = "test/test.fa" // null so exist
  gisaid_metadata = "test/test.csv" // null so exist
  gisaid_variants = "test/test.variants.csv" // null so exist

  // if carrying forward from previous
  previous_metadata = ""

  // resources files
  omissions = "resources/gisaid_omissions.txt"
  reference_fasta = "resources/MN908947.fa"
  reference_genbank = "resources/MN908947.gb"
  aas = "resources/AAs.csv"
  dels = "resources/dels.csv"
  mask_file = "resources/mask.txt"
  publish_recipes = "resources/publish_recipes.json"

  // parameter values set
  time_window = false
  update_all_lineage_assignments = false
  min_covg = 93
  trim_start = 265
  trim_end = 29674
}
